body {
    background: #102027
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
    text-align: center;
}

.title {
    color:red;
    font-family: 'Work Sans', sans-serif;
}

.text-content {
    color: #ffffff; font-family: 'Work Sans', sans-serif;
}