html, body {
    background: #102027;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

/* .top-nav-bar {
    width: 100%;
    overflow: hidden;
    margin-right: 40%;
    margin-top: 60px;
}

.top-nav-bar a {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.top-nav-bar a:hover {
    text-decoration: underline;
    color: #A4C639
}

.top-nav-bar a {
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight:bold;
    padding-top: 24px;
    padding-left: 24px;
} */

.avatar-container {
    width: 120px;
    height: 120px;
    max-width: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 15% auto 0 auto;
}

.avatar {
    vertical-align: middle;
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.name {
    color: #f5f5f5;
    font-size: 2em;
    margin:0;
    padding:0;
}

.text-content {
    color: #ffffff;
    font-size: 1.5em;
}

.link {
    color: #d8f96b;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.position {
    color: #A4C639;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0;
}

.icons {
    margin-top: 10%;
    margin-bottom: 16%;
}

.icons a {
    margin: 6px;
}

.icons a i {
    color:white;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.icons a i:hover { color: #d8f96b }
