html, body {
    background: #1c313a;
    color: #f5f5f5;
    font-family: 'Rubik', sans-serif;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 4%;
    margin-top: 4%;
}

.avatar-container {
    width: 200px;
    height: 200px;
    max-width: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.avatar {
    vertical-align: middle;
    display: inline;
    margin: 0 auto;
    width: 100%;
}

.name {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.text-content {
    font-size: 1.2em;
}

.position {
    font-size: 0.75em;
    margin-top: 10px;
    padding: 0;
}

.flutter {
    color: #5ec9f8ff;
}

.android {
    color: #A4C639;
}

.icons {
    margin-top: 32px;
    margin-bottom: 32px;
}

.icons a {
    margin: 6px;
}

.icons a i {
    color: white;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.icons a i:hover {
    color: #d8f96b
}

.cv {
    text-decoration: none;
    background-color: #A4C639;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    border-radius: 6px;
    font-size: 1.5em;
    font-weight: 800;
}

@media (max-width: 480px) {
    .avatar-container {
        margin: 10% auto 0 auto;
    }
    .name {
        font-size: 1em;
    }
    .position {
        font-size: 0.75em;
    }
    .text-content {
        font-size: 1.25em;
    }
    .avatar-container {
        margin: 50% auto 0 auto;
    }
}